[submodule "ThirdParty/AFNetworking"]
	path = ThirdParty/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "ThirdParty/AWPercentDrivenInteractiveTransition"]
	path = ThirdParty/AWPercentDrivenInteractiveTransition
	url = https://github.com/MrAlek/AWPercentDrivenInteractiveTransition.git
[submodule "ThirdParty/libPhoneNumber-iOS"]
	path = ThirdParty/libPhoneNumber-iOS
	url = https://github.com/iziz/libPhoneNumber-iOS.git
[submodule "ThirdParty/SDWebImage"]
	path = ThirdParty/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "ThirdParty/SCRecorder"]
	path = ThirdParty/SCRecorder
	url = https://github.com/rFlex/SCRecorder
