[submodule "ThirdParty/AFNetworking"]
	path = ThirdParty/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "ThirdParty/AWPercentDrivenInteractiveTransition"]
	path = ThirdParty/AWPercentDrivenInteractiveTransition
	url = https://github.com/MrAlek/AWPercentDrivenInteractiveTransition.git
[submodule "ThirdParty/libPhoneNumber-iOS"]
	path = ThirdParty/libPhoneNumber-iOS
	url = https://github.com/iziz/libPhoneNumber-iOS.git
[submodule "ThirdParty/SDWebImage"]
	path = ThirdParty/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "ThirdParty/SCRecorder"]
	path = ThirdParty/SCRecorder
	url = https://github.com/rFlex/SCRecorder
[submodule "ThirdParty/AMScrollingNavbar"]
	path = ThirdParty/AMScrollingNavbar
	url = https://github.com/andreamazz/AMScrollingNavbar.git
[submodule "ThirdParty/MBProgressHUD"]
	path = ThirdParty/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "ThirdParty/AMPopTip"]
	path = ThirdParty/AMPopTip
	url = https://github.com/andreamazz/AMPopTip.git
[submodule "ThirdParty/MWPhotoBrowser"]
	path = ThirdParty/MWPhotoBrowser
	url = https://github.com/mwaterfall/MWPhotoBrowser.git
[submodule "ThirdParty/DACircularProgress"]
	path = ThirdParty/DACircularProgress
	url = https://github.com/danielamitay/DACircularProgress.git
